.timeline {
  margin: 70px auto 0;

  // padding: 25px;
  display: grid;
  color: white;
  grid-template-columns: 1fr 3px 1fr;
}

.timeline__component {
  margin: 0 20px 20px 20px;
}

.timeline__component--bg {
  padding: 1.5em;
  background-color: $bg-secondary;
  box-shadow: $shadow;
  border-radius: 5px;
}

.timeline__component--bg-dark {
  padding: 1.5em;
  background-color: $bg-primary;
  box-shadow: $shadow;
  border-radius: 5px;
}

.timeline__date--right {
  text-align: right;
}
.timeline__middle {
  position: relative;
  background-color: white;
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: whitesmoke;
}

.timeline__point--bottom {
  top: initial;
  bottom: 0;
}

.timeline__component--no-margin {
  margin-bottom: 0;
}

.timeline__title {
  color: $accent;
}
