.footer {
  padding: 20px;
  text-align: center;

  & a {
    color: $text;
    text-decoration: underline;
  }
  & a:hover {
    color: $accent;
  }
}

.links-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
