// .gallery {
//   margin-top: 94px;

//   &__list {
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
//     list-style-type: none;
//     padding: 0;
//     margin: 0;
//   }

//   &__item {
//     margin-right: 20px;
//     width: calc((100% - 30px * 2) / 3);
//     transition: $transition;

//     &:last-child {
//       margin-right: 0px;
//     }
//   }

//   &__overlay {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     left: 0;
//     top: 0;
//     background-image: $gradient;
//     opacity: 0;

//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }

//   &__content {
//     margin: 0;
//     font-style: italic;
//     text-align: center;
//   }

//   &__wrapper {
//     position: relative;
//     overflow: hidden;
//     height: 470px;
//     transition: $transition;
//   }
// }
// .social {
//   display: flex;
//   list-style-type: none;
//   margin: 0;
//   padding: 0;

//   &__link {
//     display: flex;
//     width: 50px;
//     height: 50px;
//     background-color: $accent;
//     transition: $transition;
//     align-items: center;
//     justify-content: center;

//     &:hover {
//       background-color: $accent;
//     }

//     &:hover .social__icon {
//       fill: $accent-secondary;
//     }
//   }
//   &__icon {
//     width: 30px;
//     height: 30px;
//     fill: $decoration-secondary-color;
//     transition: $transition;
//   }
// }

.social {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  display: flex;
  margin: 0;

  padding: 10px 50px;

  &__link {
    border-radius: 50%;
    display: flex;
    width: 50px;
    height: 50px;
    background-color: $icon-primary;
    transition: $transition;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $accent;
    }

    &:hover .social__icon {
      fill: $accent-secondary;
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
    fill: whitesmoke;
    transition: $transition;
  }
}

.hero__title {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 60px;
}

.hero__content {
  font-weight: 200;
  text-align: center;
}

.hello-text {
  text-align: center;
}

.tag {
  color: $accent;
}
// .gallery__item:hover .gallery__overlay {
//   opacity: 1;
//   transition: $transition;
// }

// .gallery__item:hover .gallery__wrapper {
//   transform: translate(-10px, -10px);
//   transition: $transition;
//   overflow: hidden;
//   height: 470px;
// }

.hero__image {
  width: 300px;
  height: auto;
  margin: auto;
  text-align: center;
  clip-path: circle();
}

.hero__name {
  color: $accent;
}
