.hero__title {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 60px;
}

.hero__subtitle {
  font-weight: 200;
  text-align: center;
  color: $accent-btn;
}

.hello-text {
  text-align: center;
}

.tag {
  color: $accent;
}

.hero__image {
  width: 300px;
  height: auto;
  margin: auto;
  text-align: center;
  clip-path: circle();
}

.hero__name {
  color: $accent;
}
