// .social {
//   display: flex;
//   list-style-type: none;
//   margin: 0;
//   padding: 0;

//   &__link {
//     display: flex;
//     width: 50px;
//     height: 50px;
//     background-color: $accent;
//     transition: $transition;
//     align-items: center;
//     justify-content: center;

//     &:hover {
//       background-color: $accent;
//     }

//     &:hover .social__icon {
//       fill: $accent-secondary;
//     }
//   }
//   &__icon {
//     width: 30px;
//     height: 30px;
//     fill: $decoration-secondary-color;
//     transition: $transition;
//   }
// }

.hero__title {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 60px;
}

.hero__subtitle {
  font-weight: 200;
  text-align: center;
  color: $accent-btn;
}

.hello-text {
  text-align: center;
}

.tag {
  color: $accent;
}
// .gallery__item:hover .gallery__overlay {
//   opacity: 1;
//   transition: $transition;
// }

// .gallery__item:hover .gallery__wrapper {
//   transform: translate(-10px, -10px);
//   transition: $transition;
//   overflow: hidden;
//   height: 470px;
// }

.hero__image {
  width: 300px;
  height: auto;
  margin: auto;
  text-align: center;
  clip-path: circle();
}

.hero__name {
  color: $accent;
}
