.portfolio-list {
  list-style-type: none;
  padding: 0;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.portfolio-text {
  margin-bottom: 0;
}
.portfolio-name {
  margin: 0;
}

.portfolio__image {
  width: 100%;
  overflow: hidden;
}

.portfolio-element {
  width: 100%;
  border: 1px solid $bg-primary;
  transition: $transition;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  &:hover {
    box-shadow: rgba(255, 108, 10, 0.623) 0px 10px 20px,
      rgba(251, 128, 26, 0.23) 0px 6px 6px;
  }

  // &:hover .overlay-text {
  //   transform: translateY(-6%);
  //   opacity: 1;
  //   transition: $transition;

  //   @media screen and (min-width: 1440px) {
  //     transform: translateY(-6%);
  //   }
  // }

  &:not(:last-child) {
    margin-bottom: 20px;

    @media screen and (min-width: 1440px) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1440px) {
    width: calc((100% - 30px * 2) / 3);
  }
}

.portfolio-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $text;
  text-decoration: none;
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
  margin: 0;
}
.portfolio-text-wrap {
  padding: 20px 24px;
  text-align: center;
}
.overlay-text {
  position: absolute;
  width: 100%;

  height: 100%;

  left: 0;
  top: 0;

  background-color: $overlay;

  padding: 15px 24px;

  opacity: 0;

  transform: translateY(100%);

  transition: $transition;

  @media screen and (min-width: 1440px) {
    padding: 50px 24px;

    font-size: large;
  }
}
