$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$bg-primary: #232f3e;
$bg-secondary: #37475a;
$text: #f8f0e4;
$accent: #febd69;
$accent-secondary: #37475a;
$shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
$icon-primary: rgba(231, 141, 57, 0.733);
$overlay: rgba(231, 141, 57, 0.733);
